name: NVIDIA Jobs Daily Check

on:
  schedule:
   schedule:
  - cron: "0 6 * * *"
  - cron: "0 18 * * *"

  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run bot
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: |
          python nvidia_jobs_bot.py

      - name: Commit seen_jobs.json
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add seen_jobs.json || true
          git commit -m "Update seen jobs" || true
          git push || true
